.wizard-pager{
	li.disabled a{
		cursor: not-allowed;
	    filter: alpha(opacity=65);
	    -webkit-box-shadow: none;
	    box-shadow: none;
	    opacity: .65;
		color: #59595A;
    	background-color: #e2e2e2;
    	border-color: rgba(0, 0, 0, 0.04);
    	
    	&:hover{
    	    background-color: #e2e2e2;
    		border-color: rgba(0, 0, 0, 0.04);
    	}
	}
	li > a,li .btn{
	    display: inline-block;
	    padding: 5px 1.25rem;
	    background-color: #6164C1;
	    border: 1px solid #6164C1;
	    border-radius: 0;
	    color: #fff;

	   &:hover{
		color: white;
	    background-color: #4347ac;
	    border-color: #4044a4;
	   } 
	}


}
.sidebar-panel > nav ul > li > a [class^="fa"]{
    padding-right: 0.9375rem;
    width: 1.875rem;
    text-align: center
}