trunk/node_modules
trunk/public/storage
trunk/public/vendor
trunk/storage/*.key
trunk/vendor
trunk/bower_components
trunk/.idea
trunk/Homestead.json
trunk/Homestead.yaml
trunk/.env
trunk/.DS_Store
.DS_Store
